@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 18px;
  font-family: 'Besley', serif;
  --main-blue: #0707c1;
  /* --main-black:#393737; */
  --main-black: black;
  /* color:var(--main-black); */
}

#logo-text span {
  line-height: 1.125rem;
}
#logo-text span:first-child {
  margin-top:0.25rem;
}

#hamburger {
  position: relative;
}

#hamburger span {
  background-color: currentColor;
  display: block;
  height: 2px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 18px;
}

#hamburger span:first-child {
  top: calc(50% - 6px);
}

#hamburger span:nth-child(2) {
  top: calc(50% - 1px);
}

#hamburger span:nth-child(3) {
  top: calc(50% + 4px);
}

.active #hamburger span:first-child {
  transform: translateY(5px) rotate(45deg);
}

.active span:nth-child(2) {
  opacity: 0;
}

.active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.-z-1 {
  z-index: -1;
}

.logo {
  font-weight: 500;
}

.btn {
  display: block;
  background: var(--main-black);
  color: white;
  padding: 1rem;
  text-align: center;
  transition: background-color .3s ease, transform .3s ease;
}

.btn:hover {
  background: #393939;
}

.btn .icon {
  position: relative;
  top: -2px;
}

.btn-primary {
  background: var(--main-blue);
}

.btn-primary:hover {
  background: #0c0cf5;
}

.btn-secondary {
  background: red;
}

.btn-secondary:hover {
  background: hsl(0 100% 45% / 1);
}

.btn-tertiary {
  background: white;
  /* border: 1px solid black; */
  color: black;
  transition: border-color .3s ease, background-color .3s ease;
}

.btn-tertiary:hover {
  background-color: #d3d3d3;
  /* border-color: #d3d3d3; */
  /* color: #d3d3d3; */
}

p a {
  border-bottom:2px solid var(--main-blue);
}
p a:hover {
  border-color:#0c0cf5;
}
#availability .icon {
  position: relative;
  top: -3px;
}

#hero-homepage #hero-bg {
  /* background: url('/img/bike-bw-faded.jpg');
   */
  background: url('/img/javier-faded-upscaled.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

/* .service-homepage {
  transition:transform .3s ease;
}
.service-homepage:hover{
  transform:scale(1.02);
} */
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
gmp-map {
  height: 100%;
  width: 100%;
}

#services h2 {
  /* color:white; */
}

.stars {
  color: black;
}

@media (min-width: 640px) {}

@media (min-width: 768px) {
  .btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
  }

  .menu-item {
    transition: border .1s ease;
    display: inline-block;
    box-sizing: border-box;
  }

  #nav-desktop .menu-item:hover {
    border-bottom: 3px solid var(--main-blue);
    color: var(--main-blue)
  }
}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}