@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 18px;
  font-family: 'Besley', serif;
  --main-blue: #0887dd;
  --main-red:#e9351f;
  /* --main-black:#393737; */
  --main-black: black;
  --main-white:#fbf3ef;
  /* color:var(--main-black); */
}
body {
  background-color: var(--main-white);
}
#header {
  /* background-color:#979ca1; */
  box-shadow: 0rem -0.333rem 2rem #414040;
}
#logo-text span {
  line-height: 1.125rem;
}
#logo-text span:first-child {
  margin-top:0.25rem;
}

#hamburger {
  position: relative;
}

#hamburger span {
  background-color: currentColor;
  display: block;
  height: 2px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 18px;
}

#hamburger span:first-child {
  top: calc(50% - 6px);
}

#hamburger span:nth-child(2) {
  top: calc(50% - 1px);
}

#hamburger span:nth-child(3) {
  top: calc(50% + 4px);
}

.active #hamburger span:first-child {
  transform: translateY(5px) rotate(45deg);
}

.active span:nth-child(2) {
  opacity: 0;
}

.active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.-z-1 {
  z-index: -1;
}

.logo {
  font-weight: 500;
}

.btn {
  display: block;
  background:linear-gradient(90deg, black, lighten(black, 10%));
  color: white;
  padding: 1rem;
  text-align: center;
  transition: background-color .3s ease;
  border-radius:0.25rem; 
}

.btn:hover {
  // background: #393939;
  background:linear-gradient(90deg, lighten(black,10%), lighten(black, 20%));
}

.btn .icon {
  position: relative;
  top: -2px;
}

.btn-primary {
  background:linear-gradient(180deg, #0887dd, saturate(lighten(#0887dd, 5%), 10%));
  transition: background-color .3s ease;
}
.btn-primary:hover {
  background:linear-gradient(180deg, lighten(#0887dd, 10%), saturate(lighten(#0887dd, 10%), 15%));
}
.btn-primary:active {
  background:linear-gradient(180deg, darken(#0887dd, 5%), saturate(darken(#0887dd, 10%), 10%));
}
.btn-secondary {
  background:linear-gradient(180deg, #e9351f, lighten(#e9351f, 5%));
  transition: background-color .3s ease;
}

.btn-secondary:hover {
  // background: hsl(0 100% 45% / 1);
  background:linear-gradient(180deg, saturate(lighten(#e9351f, 2.5%),5%), saturate(lighten(#e9351f, 8%),5%));
}

.btn-tertiary {
  // background: white;
  background:linear-gradient(180deg, #fbf3ef, lighten(#fbf3ef, 5%));

  /* border: 1px solid black; */
  color: black;
  transition: border-color .3s ease, background-color .3s ease;
}

.btn-tertiary:hover {
  // background-color: #d3d3d3;
  background:linear-gradient(180deg, lighten(#fbf3ef,5%), lighten(#fbf3ef,10%));

  /* border-color: #d3d3d3; */
  /* color: #d3d3d3; */
}

p a {
  border-bottom:2px solid var(--main-blue);
  display: inline-block;
}
p a:hover {
  border-color:#0c0cf5;
}
#availability .icon {
  position: relative;
  top: -3px;
}

#hero-homepage #hero-bg {
  /* background: url('/img/bike-bw-faded.jpg');
   */
  background: url('/img/javier-faded-upscaled.jpg');
  background-size: cover;
  background-position: 50% 50%;
}
// #hero-homepage h1 {
//   color:#e9351f;
// }
.about-hero {
  background: url('/img/bike-bw-faded.jpg');
  background-size: cover;
  background-position: 50% 50%;
}
/* .service-homepage {
  transition:transform .3s ease;
}
.service-homepage:hover{
  transform:scale(1.02);
} */

#services h2 {
  /* color:white; */
}
.service-picture {
  transition:transform .3s ease;
}
.service-text {
  background:#0000003b;
}
.service-homepage:hover .service-picture {
  transform:scale(1.1);
}
.stars {
  color: black;
}
/* .service-text:nth-child(1) {
  background: #0000006b;
}
.service-text:nth-child(3) {
  background: hsl(0deg 100% 45% / 38%);
}
.service-text:nth-child(3) {
  background: #0707c173;
}
.service-text:nth-child(4) {
  background:white;
} */
#hero-homepage .btn {
  /* margin-right:-1rem;
  margin-left:-1rem; */
  /* transform:rotate(-45deg); */
}
#hero-text p .icon {
  position: relative !important;
  top: -2px;
}
#cta-card {
  background:linear-gradient(90deg, #fbf3ef, lighten(#fbf3ef, 5));
  box-shadow:0rem 0rem 2rem lighten(#414040, 66.66%);
  // display:inline-block;
}
@media (min-width: 640px) {}

@media (min-width: 768px) {
  #header {
    /* background-color:#979ca1; */
    box-shadow: none;
  }
  .btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
  }

  .menu-item {
    transition: border .1s ease;
    display: inline-block;
    box-sizing: border-box;
  }

  #nav-desktop .menu-item:hover {
    border-bottom: 3px solid var(--main-blue);
    color: var(--main-blue)
  }
}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}