#schedule {
    background:black;
    color:white;
    padding-top:0.25rem;
}

#schedule-list {

}

.timespan {
    display:block;
    padding:0.25rem 0.5rem;
    &.disabled {
        color:grey;
    }
}

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}